- name: Build the Drupal composer files
  hosts: localhost
  vars_files:
  - vars.yaml
  tasks:      
    - name: Build composer from ansible
      import_tasks: /home/{{ ANSIBLE_USER }}/ansible/playbook/tasks/drupal/1-build-composer.yaml