- name: Create Production Template from Dev VM 
  hosts: pve
  vars_files:
    - vars.yaml
    - vault.yaml

  tasks:
    - name: Back image tasks from ansible 
      import_tasks: /home/{{ ANSIBLE_USER }}/ansible/playbook/tasks/drupal/3-bake-image.yaml