- name: Create Production Template from Dev VM 
  hosts: role_proxmox_host
  vars_files:
    - vars.yaml
    - vault.yaml
  tasks:
    - name: Create image template tasks from ansible 
      import_tasks: /home/{{ ANSIBLE_USER }}/ansible/playbook/tasks/drupal/3a-create-template.yaml

- name: Mod template from Dev VM 
  hosts: pve
  vars_files:
    - vars.yaml
    - vault.yaml
  tasks:
    - name: Create image template tasks from ansible 
      import_tasks: /home/{{ ANSIBLE_USER }}/ansible/playbook/tasks/drupal/3b-mod-template.yaml