- name: Create Production Template from Dev VM
  hosts: proxmox
  vars:
    vars_files:
    - vars.yaml
    - vault.yaml

  tasks:
    - name: Create local shortcuts for VM variables
      set_fact:
        vm_id: "{{ hostvars[target_vm]['proxmox_vmid'] }}"
        vm_app: "{{ hostvars[target_vm]['APPLICATION'] }}"
        template_name: "{{ hostvars[target_vm]['APPLICATION'] }}-golden"
        template_vmid: "{{ hostvars[target_vm]['proxmox_vmid'] }}0"
        dev_vmid: "{{ hostvars[target_vm]['proxmox_vmid'] }}"

    - name: Clone Dev VM to a new Template ID
      shell: "qm clone {{ vm_id }} {{ template_vmid }} --full --name {{ vm_app }}-golden"
      register: clone_result
      failed_when: 
        - clone_result.rc != 0 
        - "'already exists' not in clone_result.stderr"

    - name: Start the cloned VM for cleaning
      community.general.proxmox_kvm:
        api_user: "{{ proxmox_api_user }}"
        api_token_id: "{{ proxmox_token_id }}"
        api_token_secret: "{{ proxmox_token_secret }}"
        api_host: "{{ inventory_hostname }}"
        vmid: "{{ template_vmid }}"
        state: started
      
    - name: Wait for SSH to become available on Clone
      wait_for:
        port: 22
        host: "{{ hostvars[target_vm]['ansible_host'] }}" # Assumes same IP for a moment
        timeout: 60

- name: Sanitize the Clone
  hosts: "{{ target_vm }}" # Here we SSH into the CLONE (temporary)
  vars_files:
    - vars.yaml
    - vault.yaml
  become: true
  tasks:
    - name: Clean Cloud-Init and machine-id
      shell: |
        cloud-init clean --logs
        truncate -s 0 /etc/machine-id
        rm -f /etc/ssh/ssh_host_*

    - name: Power off the clone
      shell: "shutdown -h now"
      async: 1
      poll: 0

- name: Convert Clone to Template
  hosts: proxmox_nodes
  tasks:
    - name: Wait for Clone to stop
      pause:
        seconds: 15

    - name: Finalize conversion to Template
      shell: "qm template {{ template_vmid }}"

