- name: Build the Drupal composer files
  hosts: localhost
  vars_files:
  - vars.yaml
  tasks:      
    - name: Copy composer file
      copy:
        src: "{{ git_dir }}/composer.json"
        dest: "{{ git_dir }}/.build/composer.json" 
      run_once: true

    - name: build composer project locally
      community.general.composer:
        command: install
        working_dir: "{{ git_dir }}/.build"
      run_once: true   