- name: Build 
  hosts: nerdperk
  vars_files:
    - vars.yaml
  tasks:                
    # - name: Install apt packages
    #   apt:
    #     #update_cache: yes
    #     name: "{{ item }}"
    #   loop:
    #     - apache2
    #     - mysql-client
    #     - php
    #     - php-gd
    #     - php-pdo
    #     - php-mysql
    #     - php-dom
    #     - php-curl
    #     - ncdu
    #     - gh
    #     - composer
    #     - vim
    #     - nfs-common
    #     - htop
    #     - keepalived
    #   become: true
    
    - name: Enable apache2 service
      systemd:
        name: apache2
        enabled: yes
      become: true

    - name: Enable keepalived service
      systemd:
        name: keepalived
        enabled: yes
      become: true


    - name: Ensure user kevin exists
      user:
        name: kevin
        state: present

    - name: Ensure group www-data exists
      group:
        name: www-data
        state: present

    - name: Add user kevin to group www-data
      user:
        name: kevin
        groups: www-data
        append: yes
      become: yes

    - name: Set ownership of /var/www recursively
      file:
        path: /var/www
        owner: kevin
        group: www-data
        recurse: yes
        state: directory
        force: yes  # Ensure the ownership is always changed
      become: yes

    - name: Create NFS mount point 
      file:
        path: "/var/www/web/sites/default/files/"
        state: directory
      become_user: kevin:www-data

    - name: Debug nfs_server variable
      debug:
        msg: "Value of nfs_server: {{ nfs_server }}:{{ nfs_share }} on {{ nfs_target_dir }}"
       

    - name: Mount NFS share
      mount:
        path: /home/kevin/mount/
        src: "192.168.11.20:/mnt/yes/gitbuilds/recursioncomic"
        fstype: 'nfs'
        opts: "rw,defaults,nofail"
        state: mounted
        dump: 0
        passno: 0
        fstab: yes
      become: yes
      

    - name: Copy keepalived script template
      copy:
        src: "{{ git_dir }}/{{ keepalived_conf }}"
        dest: "{{ keepalived_dir }}"
      become: true          

    - name: Extract last digit of IP address
      set_fact:
        last_digit: "{{ ansible_default_ipv4.address.split('.')[-1] | int }}"

    - name: Master configuration
      set_fact:
        ROLE: "MASTER"
        PRIORITY: 110
      when: "(last_digit | int) % 2 != 0"

    - name: Backup configuration
      set_fact:
        ROLE: "BACKUP"        
        PRIORITY: 100
      when: "(last_digit | int) % 2 == 0"    
    
    - name: Display roles for the host
      debug:
        var: group_names

    - name: Setting internal/dev IP
      set_fact:
        VIRT_IP: "{{ internal_vip }}"  
        ROUTER_ID: "{{ internal_router }}"      
        DB_HOST: "{{ dev_db }}"  
      when:         
        - "'dev' in group_names"
    
    - name: Setting external/prod IP
      set_fact:
        VIRT_IP: "{{ external_vip }}"
        ROUTER_ID: "{{ external_router }}"        
        DB_HOST: "{{ prod_db }}"  
      when:         
        - "'prod' in group_names"                     
    
    - name: Replace "@@@MASTER_OR_SLAVE" in file
      lineinfile:
        path: "{{ keepalived_dir }}/{{ keepalived_conf }}"
        backrefs: yes        
        regexp: '^.*@@@MASTER_OR_SLAVE.*$'
        line: "  state {{ ROLE }}"  
      become: yes

    - name: Replace "@@@ROUTER_ID" in file
      lineinfile:
        path: "{{ keepalived_dir }}/{{ keepalived_conf }}"
        backrefs: yes        
        regexp: '^.*@@@ROUTER_ID.*$'
        line: "  virtual_router_id {{ ROUTER_ID }}"  
      become: yes 

    - name: Replace "@@@VIRT_IP" in file
      lineinfile:
        path: "{{ keepalived_dir }}/{{ keepalived_conf }}"
        backrefs: yes
        regexp: '^.*@@@VIRT_IP.*$'
        line: "    {{ VIRT_IP }}/24"
      become: yes

    - name: Replace "@@@PRIORITY" in file
      lineinfile:
        path: "{{ keepalived_dir }}/{{ keepalived_conf }}"
        backrefs: yes
        regexp: '^.*@@@PRIORITY.*$'
        line: "  priority {{ PRIORITY }}"
      become: yes

    - name: Replace "@@@INTERFACE" in file
      lineinfile:
        path: "{{ keepalived_dir }}/{{ keepalived_conf }}"
        backrefs: yes
        regexp: '^.*@@@INTERFACE.*$'
        line: "  interface {{ INTERFACE }}"
      become: yes

    - name: Restart nginx
      service:
        name: nginx
        state: restarted
      become: yes

    - name: Restart keepalived
      service:
        name: keepalived
        state: restarted
      become: yes

    - name: Replace @@@PEERS with unassigned IPs
      lineinfile:
        path: "{{ keepalived_dir }}/{{ keepalived_conf }}"
        regexp: '^.*@@@PEERS.*$'
        line: "    {{ item }}"
        backrefs: yes
      loop: "{{ unassigned_ips }}"
      become: yes

    - name: Replace "@@@SRC_IP" in file
      lineinfile:
        path: "{{ keepalived_dir }}/{{ keepalived_conf }}"
        backrefs: yes        
        regexp: '^.*@@@SRC_IP.*$'
        line: "  unicast_src_ip {{ ansible_default_ipv4.address }}"  
      become: yes

    - name: Replace "@@@MASTER_OR_SLAVE" in file
      lineinfile:
        path: "{{ keepalived_dir }}/{{ keepalived_conf }}"
        backrefs: yes        
        regexp: '^.*@@@MASTER_OR_SLAVE.*$'
        line: "  state {{ ROLE }}"  
      become: yes

    - name: Replace "@@@ROUTER_ID" in file
      lineinfile:
        path: "{{ keepalived_dir }}/{{ keepalived_conf }}"
        backrefs: yes        
        regexp: '^.*@@@ROUTER_ID.*$'
        line: "  virtual_router_id {{ keepalived_router }}"  
      become: yes 

    - name: Replace "@@@VIRT_IP" in file
      lineinfile:
        path: "{{ keepalived_dir }}/{{ keepalived_conf }}"
        backrefs: yes
        regexp: '^.*@@@VIRT_IP.*$'
        line: "    {{ keepalived_vip }}/24"
      become: yes

    - name: Replace "@@@PRIORITY" in file
      lineinfile:
        path: "{{ keepalived_dir }}/{{ keepalived_conf }}"
        backrefs: yes
        regexp: '^.*@@@PRIORITY.*$'
        line: "  priority {{ PRIORITY }}"
      become: yes

    - name: Replace "@@@INTERFACE" in file
      lineinfile:
        path: "{{ keepalived_dir }}/{{ keepalived_conf }}"
        backrefs: yes
        regexp: '^.*@@@INTERFACE.*$'
        line: "  interface {{ INTERFACE }}"
      become: yes    

    - name: Restart keepalived
      service:
        name: keepalived
        state: restarted
      become: yes


    
    
