- name: Build 
  hosts: all
  #serial: 1
  vars_files:
    - vars.yaml
    - vault.yaml
  tasks:                
    - name: Install apt packages
      apt:
        update_cache: yes
        name: "{{ item }}"
      loop:
        - apache2
        - mysql-client
        - php
        - php-gd
        - php-pdo
        - php-mysql
        - php-dom
        - php-mbstring
        - php-curl
        - ncdu
        - gh        
        - vim
        - nfs-common
        - htop   
        - keepalived
        - haproxy             
      become: true
    
    - name: Enable apache2 haproxy and keepalived
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: yes
      loop:
        - apache2
        - haproxy 
        - keepalived
      become: true

    - name: Stop apache2 haproxy and keepalived
      ansible.builtin.service:
        name: "{{ item }}"
        state: stopped
      loop:
        - apache2
        - haproxy
        - keepalived
      become: true 

    - name: Ensure user kevin exists
      user:
        name: kevin
        state: present

    - name: Ensure group www-data exists
      group:
        name: www-data
        state: present

    - name: Add user kevin to group www-data
      user:
        name: kevin
        groups: www-data
        append: yes
      become: yes

    - name: Add NFS share entry to /etc/fstab
      lineinfile:
        path: /etc/fstab
        line: "{{ nfs_server }}:{{ nfs_share }}    {{ nfs_target_dir }}    nfs    defaults    0 0"
        insertafter: EOF
      become: true                           

    - name: Remove local build directory if it exists
      delegate_to: localhost
      ansible.builtin.file:
        path: "{{ git_dir }}/.build"
        state: absent
      run_once: true

    - name: Ensure .build directory exists locally
      delegate_to: localhost
      ansible.builtin.file:
        path: "{{ git_dir }}/.build"
        state: directory
        mode: "0755"
      run_once: true

    - name: Copy composer file
      delegate_to: localhost
      copy:
        src: "{{ git_dir }}/composer.json"
        dest: "{{ git_dir }}/.build/composer.json" 
      run_once: true

    - name: run composer project locally
      delegate_to: localhost
      community.general.composer:
        command: install
        working_dir: "{{ git_dir }}/.build"
      run_once: true   
    
    - name: unmount nfs
      become: true
      command: umount -t nfs /var/www/web/sites/default/files
      ignore_errors: yes

    - name: Remove web directory if it exists
      become: true
      ansible.builtin.file:
        path: "/var/www/web/"
        state: absent
      run_once: true

    - name: Create config sync
      file:
        path: /var/www/sync
        state: directory
      become: true

    - name: Sync "web" to server
      ansible.posix.synchronize:
        src: "{{ git_dir }}/.build/web"
        dest: /var/www/
        rsync_opts:
          - "--delete-after"
          - "--exclude=sites/default/files"
          - "--exclude=sites/default/settings.php"
      become: true

    - name: Sync "vendor" to server
      ansible.posix.synchronize:
        src: "{{ git_dir }}/.build/vendor"
        dest: /var/www/
        delete: yes
      become: true   

    - name: Update DocumentRoot in Apache configuration
      become: true
      lineinfile:
        path: /etc/apache2/sites-available/000-default.conf
        regexp: '^(\s*)DocumentRoot /var/www/html'
        line: 'DocumentRoot /var/www/web/'
        backup: yes

    - name: Replace Apache options for symlinks
      ansible.builtin.replace:
        path: /etc/apache2/apache2.conf
        regexp: "(<Directory /var/www/>)\\n(\\s+Options Indexes FollowSymLinks\\n\\s+AllowOverride) None(\\n\\s+Require all granted\\n</Directory>)"
        replace: "\\1\\n\\2 All\\3"
        backup: yes
      become: true

    - name: Enable Apache rewrite module
      become: true
      command: a2enmod rewrite

    - name: Copy php settings file
      become: true
      template:
        src: "{{ git_dir }}/templates/settings.php.j2"
        dest: "/var/www/web/sites/default/settings.php"    

    - name: Copy keepalived configuration file
      become: true
      template:
        src: "{{ git_dir }}/templates/keepalived.conf.j2"
        dest: "/etc/keepalived/keepalived.conf"    
            
    - name: Copy theme(s)
      copy:
        src: "{{ git_dir }}/themes/"
        dest: "/var/www/web/themes/contrib/"    

    - name: Set ownership to www-data on target web dir
      ansible.builtin.file:
        path: /var/www/
        owner: www-data
        group: www-data
        recurse: yes
      become: true        

    - name: Create NFS mount point 
      file:
        path: /var/www/web/sites/default/files
        state: directory
      become: true

    - name: Mount all NFS shares
      become: true
      command: mount -a    

    # - name: Run drush cache refresh
    #   become: true
    #   command: "{{ drush }} cr"
    #   args:
    #     chdir: "/var/www"
    #   become_user: kevin:www-data

    # - name: Run drush update db
    #   become: true
    #   command: "{{ drush }} updb"
    #   args:
    #     chdir: "/var/www"
    #   become_user: kevin:www-data

    - name: Change ownership recursively on NFS
      become: true
      file:
        path: "{{ nfs_target_dir }}"
        owner: "{{ ANSIBLE_USER }}"
        group: "www-data"
        recurse: yes

    - name: Change permissions recursively on NFS
      become: true
      file:
        path: "{{ nfs_target_dir }}"
        mode: "0775"
        recurse: yes

    - name: Configure Apache to listen on port 81
      ansible.builtin.lineinfile:
        path: /etc/apache2/ports.conf
        regexp: '^Listen 80'
        line: 'Listen 81'
      notify: Restart Apache
      become: true
    
    - name: Start apache and keepalived
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: yes
        state: started
      loop:
        - apache2
        - haproxy
        - keepalived
      become: true